---
import Contact from "../components/Contact.svelte";
import Portfolio from "../components/Portfolio.svelte";
import SideBar from "../components/SideBar.astro";
import Skillset from "../components/Skillset.svelte";
import Layout from "../layouts/Layout.astro";

const expertise = [
	{ title: "UI/UX design", description: "Mobile first responsive design. Elegant, rich UI design prioritizing performance", image: "/icons/ui-design.png" },
	{ title: "Secured back end development", description: "Design back end that prioritizes security and employs best practices and appropriate data structures", image: "/icons/server.png" },
	{ title: "Interactive web application", description: "Building high performant, easy to use ineractive web apps", image: "/icons/interactive.png" },
	{ title: "Chatbot integration", description: "Integrate chatbot to a an app for 24/7 customer service, personalize communication, automate repetitive tasks", image: "/icons/chatbot.png" },
	{ title: "Web automation", description: "Automating repitative task reducing time consumption and productivity", image: "/icons/selenium.png" }
]
---

<Layout title="Khandakar Shakib" class="sm:flex">
	<SideBar title="shkb" />
	<main class="mx-auto sm:pt-0 w-full">
		<!-- Home -->
		<div class=" bg-image">
			<div class="grid h-screen items-center justify-center md:grid-cols-2 gap-3 px-4 mx-auto max-w-6xl section" id="home">
					<div class="py-5 text-center sm:text-start">
						<p class="sm:text-2xl pb-4" data-sal="slide-up">Hello world!</p>
						<h3 class="text-4xl font-extrabold pb-4 pt-4 font-poppins" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="150"
						>My name is</h3>
						<h2 class="text-5xl font-extrabold pt-4 pb-1" data-sal="slide-up"
						data-sal-duration="1000" data-sal-delay="250">Khandakar Shakib</h2>
						<p class="text-xl sm:text-3xl py-4 relative" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="350">
							I am a passionate <span class="font-poppins text-indigo-800 bg-white" id="hover-dev" > fullstack web developer</span> based in Bangladesh.
							<img class="w-32 bottom-[30px] md:w-52 md:bottom-full dev" src="/img/dev.gif" alt="developer-gif"/>
						</p>
					</div>
					<div class="w-full mx-auto">
						<img data-sal-duration="1000"  data-sal="zoom-in" class="w-full mx-auto sm:p-4" src="developing.min.svg" alt="developing" />
					</div>
			</div>
		</div>

		<!-- About -->
		<div class="pt-40 pb-20 max-w-7xl mx-auto min-h-[50vh] md:grid md:grid-cols-2 justify-between items-center gap-2 section" id="about">
			<div class="mx-auto w-full" data-sal-duration="1000"  data-sal="slide-up"><img class="mx-auto max-w-xl w-full" src="me.png" alt="Shakib"/></div>
			<div class="grid gap-4">
				<h2 class="text-4xl pb-4 font-extrabold text-center underline underline-offset-8" data-sal-duration="1000"  data-sal="slide-up" data-sal-delay="100"> About me </h2>
				<div class="text-xl py-4 text-justify px-1" data-sal-duration="1000"  data-sal="slide-up" data-sal-delay="200">
					I am obsessed with building projects. Created a non-profit website for a college's IT club. I'm looking
					for a position at a great company where I can be a hardworking asset to any team and learn, grow, and
					develop over time. I've been actively involved in the web development community since graduating from
					Chittagong College.
				</div>
				<div data-sal-duration="1000"  data-sal="slide-up" data-sal-delay="300">
					<a class="btn max-w-xs" href="/resume" > CHECK OUT RESUME </a>
				</div>
			</div>
		</div>
		<!-- Service -->
		<div class="max-w-7xl mx-auto section py-20" id="service">
			<h2 class="text-4xl pb-4 font-extrabold text-center underline underline-offset-8"> Field of expertise </h2>
			<div class="py-3 grid justify-center items-stretch gap-6 grid\ sm:grid-cols-2">
				{
				expertise.map((field, i) => (
				<div class="flex gap-3 items-stretch justify-start bg-zinc-700 rounded shadow-md w-full"
					data-sal-duration="1000"  data-sal="slide-up" data-sal-duration={1000*(i+1)+"s"} data-sal-delay={100*i}>
					<img class="mt-4 mx-1 h-16 w-auto" src={field.image} alt={field.title} />
					<div class="grid items-stretch justify-center py-2 px-1">
						<h4 class="text-lg py-2 font-poppins font-bold"> {field.title} </h4>
						<p>{field.description}</p>
					</div>
				</div>
				))
				}
			</div>
			<div class="mx-auto py-20">
				<h2 class="text-4xl py-12 font-extrabold text-center underline underline-offset-8">Skill set</h2>
				<Skillset />
			</div>
		</div>
		<!-- Projects -->
		<div class="mx-auto section py-20" id="projects">
			<h2 class="text-4xl py-12 font-extrabold text-center underline underline-offset-8">Projects
			</h2>
			<Portfolio />
		</div>
		<!-- Contact -->
		<div class="mx-auto section py-20" id="contact">
			<h2 class="text-4xl py-12 font-extrabold text-center underline underline-offset-8" id="contact">Contact</h2>
			<Contact client:load />
		</div>
		<footer class="p-4 bg-zinc-900 text-white">
			<div class="flex gap-4 justify-between mx-auto max-w-7xl">
				<div>
					<img src="favicon.png" class="max-w-[4rem] w-full" />
					<p class="text-xs text-gray-400">Copyright ©KHANDAKAR-SHAKIB 2023</p>
				</div>
				<div>
					<p class="text-lg pb-4 font-semibold">Quick Links</p>
					<ul class="flex gap-4">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#service">Service</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</main>


	<script>
		import sal from "sal.js";
		import scrollSpy from "simple-scrollspy";
		sal();

		const options = {
			sectionClass: '.section',           // Query selector to your sections
			menuActiveTarget: '[data-navlink]',      // Query selector to your elements that will be added `active` class
			activeClass: 'bg-indigo-900',
			offset: 100,                          // Menu item will active before scroll to a matched section 100px
		}
		scrollSpy('[data-navbar="Navbar"]', options);

		const hoverDev = document.getElementById("hover-dev");
		const devGif = document.querySelector(".dev") as HTMLImageElement;
		
		if(hoverDev) {
			hoverDev.addEventListener('mousemove', e => {
				const gifPos = e.clientX*200/window.innerWidth;
				devGif.style.translate = `${gifPos}% 0px`;
				devGif.style.display = "block";
			})
			hoverDev.addEventListener('mouseout', e => {
				devGif.style.display = "none";
			})
		}
	</script>
</Layout>